DATABASE_URL="mysql://muslim_lifestyle_user:muslim_lifestyle_password@localhost:3306/muslim_lifestyle"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-secure-random-string"
ADMIN_EMAIL="yourmail@gmail.com"
ADMIN_PASSWORD_HASH="PASSWORD HASH"
